<div class="container" *ngIf="!loading; else loader">
  <mat-grid-list cols="3" rowHeight="2:3" gutterSize="20" 
                 class="grid"
                 *ngIf="blogs.length > 0; else noBlogs">
    <mat-grid-tile *ngFor="let blog of blogs">
      <mat-card class="blog-card">
        <mat-card-header>
          <mat-card-title>{{ blog.title }}</mat-card-title>
          <mat-card-subtitle>{{ blog.createdAt | date:'short' }}</mat-card-subtitle>
          <button [routerLink]="['/blogs', blog.id, 'comments']">View Comments</button>
        </mat-card-header>
        
        <mat-card-content>
          <markdown [data]="blog.description"></markdown>
          
          <div class="images-container" *ngIf="blog.images && blog.images.length > 0">
            <img *ngFor="let imagePath of blog.images.slice(0, 2)" 
                 [src]="getImageUrl(imagePath)" 
                 alt="Blog image"
                 class="blog-image"
                 (error)="onImageError($event)">
            <span *ngIf="blog.images.length > 2" class="more-images">
              +{{ blog.images.length - 2 }} more
            </span>
          </div>

          <p>Creator id: {{blog.creatorID}}</p>

          <!-- 🔹 Dugme za lajk -->
          <button mat-button color="warn" (click)="toggleLike(blog)">
            <mat-icon>{{ blog.likedByUser ? 'favorite' : 'favorite_border' }}</mat-icon>
            {{ blog.likesCount || 0 }}
          </button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<ng-template #loader>
  <div class="loader">Loading blogs...</div>
</ng-template>

<ng-template #noBlogs>
  <div class="no-data">No blogs found</div>
</ng-template>
