/* You can add global styles to this file, and also import other style files */
/*@import '~leaflet/dist/leaflet.css';*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* U global styles ili theme */
.notification-snackbar {
  background-color: #4CAF50 !important;
  color: white !important;
}

.notification-snackbar .mat-simple-snackbar-action {
  color: #ffffff !important;
}

